<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="aditya">
    <!-- Page Title -->
    <title>Thankyou &mdash;</title>
    <!--CSS  Tags-->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/shortcodes.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/default-skin.css' %}">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/logos/favicon.png' %}">
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="loader-4">
            <div class="loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <!-- Preloader -->
    <section class="full-height gray-text">
        <div class="container">
            <div class="row full-height align-items-center">
                <div class="col-sm-4 text-center d-none d-sm-block">
                    <img src="{% static 'images/pages/construction.png' %}" alt="No img">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 f-w-700 m-b10">Sorry !!</h1>
                    <h4 class="f-w-700 m-b10 text-uppercase">Error!!.</h4>
                    <h5 class="f-w-700 m-b10 text-uppercase">We will back</h4>
                        <p class="text m-t10 m-b20">
                        	Something phishing is going on or the site is broken. Sorry for the inconvenience.
                        </p>
                </div>
            </div>
        </div>
    </section>



    <!-- All Javascript -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>