{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container">
<div class="card text-center">
  <div class="card-header">
    Student name : {{student.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Topic : {{student.question}}</h5>
    <p class="card-text">{{ student.essay }}</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
  <div class="card-footer text-muted">
    Essay submitted on : {{student.date}}
  </div>
</div>
<br>
<div class="card text-white bg-danger mb-3" style="max-width: 100%;">
  <div class="card-header">Error count : {{student.error_count}}</div>
  <div class="card-body">
    <h5 class="card-title">Possible Grammatical mistakes are : </h5>
      <p class="card">
        {% for error in errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
      </p>
  </div>
  </div>
<hr>
<div class="card text-white bg-success mb-3 text-center " style="max-width: 100%;">
  <div class="card-header">Possibly corrected essay -</div>
  <div class="card-body">
    <h5 class="card-title">{{student.question}}</h5>
    <p class="card-text">
        {{student.corrected_essay}}
    </p>
  </div>
</div>
<br>
</div>
{% endblock %}
